.login-form
    justify-content: center
    padding: 20px 15px
    display: flex
    width: 100%

    & .form-component
        justify-content: center
        flex-flow: column nowrap
        display: flex
        width: 100%

        & .input-text
            background: white
            height: 25pt
            width: 75%