@import ../../../styles/colors

.principal-authorization
    flex-flow: column nowrap
    min-height: 300px
    min-width: 450pt
    display: flex
    height: 65vh
    width: 45vw

    &-forms
        flex-flow: column nowrap
        justify-content: center
        align-items: center
        display: flex
        width: 100%

        &-descriptions
            background-color: $deep-blue
            flex-flow: column nowrap
            justify-content: center
            margin-bottom: 35pt
            align-items: center
            display: flex

            & h1
                text-shadow: 0px 0px 3px black
                margin-top: -25pt
                font-size: 35pt
                color: white

            & .cloud
                position: relative
                width: 200px
